<div class="grid">
  <div class="col-4">
    <mat-card class="vianda-1">
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Viandas 
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">Vegetarianas</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Viandas 
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">Dieteticas</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Viandas
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">Economicas</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
